* {
    box-sizing: border-box;
}

body {
  background: url(../images/background_img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  font: .9em/1.2 Arial, Helvetica, sans-serif
}

/*Header*/
.special {
    padding: 10px;
    color: #fff;
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0,0,0,0.5),
    4px 4px 5px rgba(0,0,0,0.7),
    0px 0px 7px rgba(0,0,0,0.4);
}

.header-wrapper {
    border: 1px solid lightgreen;
    background-color: rgb(79,185,227);
    padding: 10px;
    color: #fff; 
    display: flow-root;
    background-image: linear-gradient(to bottom, green, #dddd00 50%, white);
}

.search {
    float: right;
    margin-right: 10px;
    color: brown;
    font-size: 1.2rem;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid grey;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
}

.logo-img img {
    border-radius: 50%;
    float: left;
    max-width: 100%;
    height: auto;
    margin: 15px;
}

.logo-nav {
    display: flex;
    text-align: center;
}


.logo-nav ul {
  padding: 0;
  width: 700px;
}

.logo-nav ul li {
  display: inline;
}

.logo-nav ul li a {
    border-right: 10px;
    line-height: 1.5;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    outline: none;
    color: grey;
    padding: 2px 1px 0;
}


.logo-nav ul li a:hover {
    border-bottom: 2px solid grey;
}

.container {
  width: 60%;
  height: auto;
  border: 1px solid #000;
}

#main-heading {
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  margin: 0 auto;
  height: 7vh;
  color: white;
  text-align: center;
  padding: 5px;
}

.article {
  margin: 10px;
  border: 2px solid grey;
  color: #fff;
  font-weight: bolder;
}

article p {
  width: 100%;
  text-align: center;
}

article a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
  border: 1px solid grey;
}

.title {
  text-transform: capitalize;
  font-weight: bolder;
}

.form-container {
  position: relative;
  left: 30%;
  margin-top: 50px;
  padding: 10px;
  width: 40%;
}

.form-container label {
  display: block;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bolder;
  margin-bottom: 2px;
}

.input input {
  margin-bottom: 20px;
  height: 30px;
  outline: none;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.input textarea {
  margin-bottom: 20px;
  outline: none;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  background-color: transparent;
}

.action-button {
  margin-left: 10%;
}

.action-button button {
  width: 40%;
  height: 30px;
  padding: 5px auto;
  outline: none;
  border: 2px solid grey;
  border-radius: 5px;
  color: #000;
  background-color: transparent;
  font-weight: bolder;
  margin-right: 20px;
  cursor: pointer;
}

form h1 {
  border-bottom: 2px solid grey;
  width: 40%;
}

/*Footer*/
.footer {
    background-image: linear-gradient(to bottom, white, #dddd00 50%, green);
    width: 100%;
    margin-bottom: -50px;
    text-align: center;
}

.social {
  position: relative;
  top: 30%;
}

.social ul {
    list-style: none;
    display: inline-flex;
}

.social ul li {
    width: 50px;
}

.copyright {
  position: relative;
  top: 40%;   
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .form-container {
    left: 10%;
  }

  .action-button {
    width: 100%;
  }

  .action-button button {
    width: 100%;
    margin-bottom: 10px; 
  }

  form h1 {
    width: 100%;
  }
}